<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595599251115-eouf26aosd8c28lbia6d6ipnu23qdk57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595599251115-eouf26aosd8c28lbia6d6ipnu23qdk57</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvkwvtkZvVzVWUwnujW2yUALLW0fZxSI</string>
	<key>GCM_SENDER_ID</key>
	<string>595599251115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CodenameMerry</string>
	<key>PROJECT_ID</key>
	<string>codename-merry</string>
	<key>STORAGE_BUCKET</key>
	<string>codename-merry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595599251115:ios:9cc9795af42a47baa309ee</string>
</dict>
</plist>